@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.bold {
  font-weight: bold;
}

.nav {
  height: 70px;
  display: flex;
  padding: 22px 36px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 20px 36px;
}

.hero--image {
  max-width: 400px;
  align-self: center;
}

.hero > h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.hero > p {
  margin-top: 0;
  max-width: 320px;
}

.card-list {
  display: flex;
  gap: 20px;
  margin: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 175px;
  font-size: 12px;
  position: relative;
}

.cards--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 10px;
}

.cards--box {
  display: flex;
  align-items: center;
}

.cards--box--star {
  height: 14px;
  border-radius: 0.5px;
}

.cards--box--grey {
  color: #918e9b;
}

.cards--box--rating {
  color: #222222;
  font-size: 12px;
}

.card-price {
  margin-top: auto;
}

.cards--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
